name: Destroy Infra

on:
  workflow_dispatch:   # manual trigger
    inputs:
      confirm_destroy:
        description: "Type YES to confirm destruction"
        required: true


jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Destroy Infrastructure
        run: |
          cd terraform
          terraform init 
          terraform destroy -auto-approve
