name: CI/CD for Lambda Image Resizer

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'

  # Allows manual triggering from the GitHub Actions tab
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose deployment environment"
        required: true
        default: "production"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Make build script executable 
        run: chmod +x scripts/build_layer.sh
          
      - name: Build Lambda Layer
        run: ./scripts/build_layer.sh

      - name: Deploy Infrastructure
        run: |
          cd terraform
          terraform init
          terraform plan
          terraform apply -auto-approve

 #     - name: Deploy Lambda Code
 #       run: ./scripts/deploy.sh
